.logo {
  color: #ff9eb1;
}

.logo-img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.header {
  font-family: Oswald;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(214, 213, 213);
}
