.my-business-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-of-business {
  display: flex;
  padding: 30px;
}
.deals {
  width: 300px;
  margin-left: 40px;
}

.deal-button {
  border-radius: 5px;
  background-color: #fdc6d1;
  border: none;
  padding: 10px;
}

.deal-button:hover {
  cursor: pointer;
  background-color: #fddde3;
}

.business-line {
  margin-top: 10px;
  border: 1px solid rgb(206, 206, 206);
  width: 86%;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.us-img {
  height: 65vh;
  width: 80vw;
}

.story-text {
  font-family: "Oswald";
  width: 80vw;
}
